<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.unkrig.jdisasm/src/de/unkrig/jdisasm/Disassembler.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.unkrig.jdisasm.Disassembler"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-o Disassembler.asm&#13;&#10;-symbolic-labels&#13;&#10;bin/de/unkrig/jdisasm/Disassembler.class"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.unkrig.jdisasm"/>
</launchConfiguration>
